/* Remove Default Margin Padding */
*{
    margin: 0;
    padding: 0;
}

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Global Colors */
:root{
    --primary-color: #469165; /* Green */
    --secondary-color: #001931; /* Deep Blue */
    --accent-color: #F95555; /* Orange Color */
    --title-color: #001931; /* Title Color */
    --text-color: #627382; /* Text Color */
    --base-color: #F7F6F2; /* Section BG Color */
    --white: #ffffff; /* White Color */
}

/* Global CSS */
.container{
    width: 1360px;
}
body{
    font-family: "Inter";
}

.flex-layout{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.green-button{
    padding: 12px 16px;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 4px;
    border: 0px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Inter", sans-serif;
}
.green-button:hover{
    background-color: var(--accent-color);
}
.outline-button{
    padding: 12px 16px;
    background-color: transparent;
    color: var(--white);
    border-radius: 4px;
    border: 1px solid var(--white);
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Inter", sans-serif;
}
.outline-button:hover{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}


/* Header CSS */
.header{
    padding: 16px 0px;
    background-color: var(--white);
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-menu ul{
    display: flex;
    gap: 32px;
}
.site-menu ul li{
    list-style: none;
    font-weight: 500;
    cursor: pointer;
    font-family: "Inter", sans-serif;
}



/* Body CSS */
.hero-section{
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 674px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.hero-section h1{
    color: var(--white);
    font-weight: bold;
    font-size: 72px;
    text-align: center;
    font-family: "Inter", sans-serif;
}
.highlight{
    color: var(--primary-color);
}
.sub-title{
    color: var(--white);
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-family: "Inter", sans-serif;
}
.top-tooltip{
    display: flex;
    padding: 8px 12px;
    background-color: var(--white);
    gap: 6px;
    border-radius: 50px;
    width: 229px;
    height: 36px;
    align-items: center;
    justify-content: center;
}
.top-tooltip span{
    color: var(--primary-color);
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

.hero-button-wrapper{
    display: flex;
    gap: 16px;
    margin-top: 15px;
}


/* Note Section */
.note-section{
    padding: 60px 0px;
}

.note-section .container{
    display: flex;
    flex-direction: column;
    gap: 44px;

}

.title-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 16px;
}
.note-section h2{
    font-size: 48px;
    font-weight: bold;
    color: var(--title-color);
    text-transform: capitalize;
    font-family: "Inter", sans-serif;
    
}
.note-section p{
    color: var(--text-color);
    font-family: "Inter", sans-serif;
}
.note-box-wrapper{
    display: flex;
    gap: 24px;
}

.notebox{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;

    width: 25%;
    text-align: center;
    padding: 70px 24px;
    box-shadow: 0px 0px 8px 0px #00000020;
    border-radius: 8px;
}
.notebox-icon{
    width: 60px;
    height: 60px;
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.notebox img{

}
.notebox h3{
    color: var(--title-color);
    font-size: 24px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}

/* Solution Section */
.solution-section{
    padding: 60px 0px;
} 
.solution-section .container{
    display: flex;
    gap: 60px;
    align-items: center;
}
.solution-image-column{
    width: 50%;
}
.solution-content-column{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.solution-content-column span{
    color: var(--primary-color);
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
}
.solution-content-column h2{
    color: var(--title-color);
    text-transform: capitalize;
    font-size: 48px;
    font-family: "Inter", sans-serif;
}
.solution-content-column p{
    color: var(--text-color);
    font-family: "Inter", sans-serif;
}
.solution-section ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 25px;
}
.solution-section ul li{
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}


/* CTA Section */
.cta-section{
    padding: 50px 0px 80px 0px;
    text-align: center;
}
.cta-section .container{
    border-radius: 12px;
    background-color: var(--base-color);
    height: 384px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.cta-section h2{
    color: var(--title-color);
    font-size: 40px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    text-transform: capitalize;
}
.cta-section button{
    margin-top: 8px;
    box-shadow: 0px 10px 20px 0px #00000015;
}
.cta-section p{
    color: var(--text-color);
    font-family: "Inter", sans-serif;
}

/* Footer CSS */
.footer-section{
    height: 348px;
    background-color: var(--secondary-color);

}
.footer-content{
    display: flex;
    justify-content: space-between;
}
.socials h4{
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
.socials{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.social-icons{
    display: flex;
    gap: 16px;
}

.footer-copyright{
    border-top: 1px solid #fafafa50;
    padding-top: 20px;
    margin-top: 50px;
}
.footer-copyright p{
    color: var(--text-color);
    text-align: center;
        font-family: "Inter", sans-serif;
        
}